{% extends 'base.html' %}
{% block aboutactive %} active {%endblock aboutactive%}
{% block aboutcss %} /static/css/about.css {% endblock aboutcss %}
 {% block body %}
    <div class="team-section container mb-4">
		<h1>Our Team</h1>
		<span class="border"></span>
		<div class="ps">
			<a href="#p1"><img src="/static/img/manish.jpg" alt=""></a>
			<a href="#p2"><img src="/static/img/divas.jpg" alt=""></a>
      <a href="#p3"><img src="/static/img/amlesh.jpg" alt=""></a>
		</div>
		<div class="section" id="p1">
			<span class="name">Manish kumar Tiwari</span>
			<span class="border"></span>
			<p>
            Manish kumar is  living in Varanasi Uttar Pradesh. He has completed his graduation in B.sc(Information Technology) from Mumbai university Mumbai. He is currently pursuing MCA from National Institute of technology Karnataka. He scored AIR 92 in NIMCET (NIT MCA COMMON ENTRANCE TEST) in year 2019. His programing skill is c, c++, php, html.
			</p>
		</div>
		<div class="section" id="p2">
			<span class="name">Divas Kumar</span>
			<span class="border"></span>
			<p>
		Divas Kumar is living in Madhya Pradesh. She has completed her graduation in BCA from Devi Ahilya University Madhya Pradesh. She is currently pursuing MCA from National Institute of technology Karnataka. She scored AIR 119 in NIMCET (NIT MCA COMMON ENTRANCE TEST) in year 2019. Her programing skill is c, c++, php, html.
			</p>
		</div>
    <div class="section" id="p3">
			<span class="name">Amlesh Kumar</span>
			<span class="border"></span>
			<p>
		Amlesh kumar is  living in Sitamarhi, Bihar. He has completed his graduation in BCA( Bachelor of computer application) from Bihar university Bihar. He is currently pursuing MCA from National Institute of technology Karnataka. His programing skill is c, c++, php, html, python</p>
		</div>
	</div>
   {% endblock body %}