{% extends "base.html" %}    
{% block awarenessactive %}active{% endblock awarenessactive%}  
{% block title %} Covid-Awareness {% endblock title %}
{% block body %}
        
           <div class="container my-4 pb-3 pt-5">
         <h1 class="text-center">
             Covid Awareness Video
             <div class="embed-responsive embed-responsive-21by9">
    <iframe width="956" height="538" src="https://www.youtube.com/embed/W4HDj2CcPAM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
         </h1>
     </div>
     <div class="container my-4 pb-3">
         <h1 class="text-center">
             Covid Awareness Video
             <div class="embed-responsive embed-responsive-21by9">
                <iframe width="956" height="538" src="https://www.youtube.com/embed/zIixknU5e7A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
         </h1>
     </div>
     <div class="container my-4 pb-3">
         <h1 class="text-center">
             Covid Awareness Video
             <div class="embed-responsive embed-responsive-21by9">
               <iframe width="956" height="538" src="https://www.youtube.com/embed/lMr6TXWN5Pk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>           </div>
         </h1>
     </div>
   
     <div class="container my-4" style="padding-bottom: 100px">
         <h1 class="text-center">
        Covid Awareness Video
              <div class="embed-responsive embed-responsive-21by9">
                 <iframe width="956" height="538" src="https://www.youtube.com/embed/v-852f1PXBo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
         </h1>
     </div>
     
{% endblock body %}